<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Устный счёт</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<header>
    <h1>Устный счёт</h1>

</header>

<aside>
    <h2>Хочу составить задание для учеников</h2>
    <div class='block_content'>
        <ul class='menu'>
            <li class='leaf'><a href='block'>Несколько примеров</a></li>
            <li class="leaf"><a href='snake'>Змейка примеров</a></li>
        </ul>
    </div>
    <h2>Хочу решать задания сам</h2>
</aside>
    <div>Здесь можно задать параметры для вашего блока примеров.</div>
</body>
</html>