{% extends 'examples/header.html' %}

{% block content %}

<div id = "PageInfo">Упражнения для тренировки навыка устного счёта учеников 1-7 классов.<br>
    Составление вариантов устного счёта для учителей.<br>
    Задания для самостоятельной тренировки.<br>
    <p></p>
    <div>
        <label for="numberOfTasks">К-во примеров</label>
        <input
            type="number"
            max="20"
            min="1"
            name="numberOfTasks"
            value="10"
            onkeypress="return runScript(event)">
        <label for="numberOfDigits">К-во разрядов</label>
        <input
            type="number"
            max="5"
            min="1"
            name="numberOfDigits"
            value="3"
            onkeypress="return runScript(event)">
        <label for="typeOfTask">Тип заданий</label>
        <select
            name="typeOfTask"
            size="1"
            onkeypress="return runScript(event)">
            <option selected>12 + 8</option>
            <option>rand +- rand</option>
            <option>1234 - 135</option>
            <option>1234 + 456 - 234 - 56</option>
        </select> 
        <button onclick="showResult()">ok</button><br>
        <input
            type="checkbox"
            name="showAnswers"
            value="1"
            onclick="showAnswers()"> показать ответы

    </div>
    <table id = "blockOfTasks"></table>
</div>
{% endblock %}